# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Flask
instance/

# Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db